body {
  background-color: #f0f0f0;
  color: #333333;
}

img {
  display: block;
  margin: 20px auto;
}

h1 {
  font-family: Georgia, serif;
  color: #2e8b57;
  text-align: center;
}

h2 {
  font-family: Georgia, serif;
  color: #8b0000;
}

.section {
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}

ul, ol{
  margin-left: 20px;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

a{
  color: #0000ee;
}

a:visited{
  color: green; 
}

a:hover{
  color: #ff4500;
}